# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Development files
CMakeLists.txt text eol=lf
*.cmake text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.h.in text eol=lf
*.yml text eol=lf

# Linux development file
*.pc.in text eol=lf

# Windows development files
*.cs text eol=crlf
*.csproj text eol=crlf
*.rc.in text encoding=cp1252 eol=crlf
*.resx text eol=crlf
*.sln text eol=crlf

# Documentation files
Doxyfile.in text eol=lf
*.doc text eol=lf
