# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Development files
CMakeLists.txt text eol=lf
*.cmake text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.h.in text eol=lf

# Linux development file
*.pc.in text eol=lf

# Windows development files
*.rc.in text eol=crlf
