name: .NET
on: push
env:
  BUILD_TYPE: Release
  OSX_DEPLOYMENT_TARGET: "11.0"

jobs:
  Linux:
    runs-on: ${{matrix.runner}}
    container:
      image: ${{matrix.image}}
    strategy:
      matrix:
        arch: [arm64, x64]
        libc: [glibc]
        include:
          - arch: arm64
            runner: ubuntu-24.04-arm
          - arch: x64
            runner: ubuntu-24.04
          - libc: glibc
            image: almalinux:8
            install: dnf install -y cmake gcc gcc-c++
            libdir: lib64
    steps:
    - name: Cloning
      uses: actions/checkout@v5
    - name: Install packages
      run: ${{matrix.install}}
    - name: Configure CMake
      run: cmake -B "build/shared" -DRAGEPHOTO_C_LIBRARY=ON -DRAGEPHOTO_EXTRACT=OFF -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    - name: Build
      run: cmake --build "build/shared" --config ${{env.BUILD_TYPE}}
    - name: Install
      run: cmake --install "build/shared" --config ${{env.BUILD_TYPE}} --prefix "install/shared/"
    - name: Preparing for Upload
      run: |
        mkdir "artifacts"
        cp "install/shared/${{matrix.libdir}}/libragephoto.so" \
          "artifacts/"
    - name: Upload
      uses: actions/upload-artifact@v5
      with:
        name: Linux ${{matrix.arch}} ${{matrix.libc}}
        path: ${{github.workspace}}/artifacts/
  macOS:
    runs-on: ${{matrix.runner}}
    env:
      BUILD_TYPE: Release
    strategy:
      matrix:
        arch: [arm64, x64]
        include:
          - arch: arm64
            runner: macos-15
          - arch: x64
            runner: macos-15-intel
    steps:
    - name: Cloning
      uses: actions/checkout@v5
    - name: Configure CMake
      run: cmake -B "${{github.workspace}}/build/shared" -DRAGEPHOTO_C_LIBRARY=ON -DRAGEPHOTO_EXTRACT=OFF -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_OSX_DEPLOYMENT_TARGET=${{env.OSX_DEPLOYMENT_TARGET}}
    - name: Build
      run: cmake --build "${{github.workspace}}/build/shared" --config ${{env.BUILD_TYPE}}
    - name: Install
      run: cmake --install "${{github.workspace}}/build/shared" --config ${{env.BUILD_TYPE}} --prefix "${{github.workspace}}/install/shared/"
    - name: Preparing for Upload
      run: |
        mkdir "artifacts"
        cp "install/shared/lib/libragephoto.dylib" \
          "artifacts/"
    - name: Upload
      uses: actions/upload-artifact@v5
      with:
        name: macOS ${{matrix.arch}}
        path: ${{github.workspace}}/artifacts/
  Windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [arm64, x64, x86]
        include:
          - arch: arm64
            msvc: amd64_arm64
          - arch: x64
            msvc: amd64
          - arch: x86
            msvc: amd64_x86
    steps:
    - name: Cloning
      uses: actions/checkout@v5
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{matrix.msvc}}
    - name: Configure CMake
      run: cmake -B "${{github.workspace}}/build/shared" -DRAGEPHOTO_C_LIBRARY=ON -DRAGEPHOTO_EXTRACT=OFF -DRAGEPHOTO_UNICODE=wincvt -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -GNinja
    - name: Build
      run: cmake --build "${{github.workspace}}/build/shared" --config ${{env.BUILD_TYPE}}
    - name: Install
      run: cmake --install "${{github.workspace}}/build/shared" --config ${{env.BUILD_TYPE}} --prefix "${{github.workspace}}/install/shared/"
    - name: Preparing for Upload
      run: |
        mkdir "artifacts"
        Copy-Item "install\shared\bin\libragephoto.dll" "artifacts\"
    - name: Upload
      uses: actions/upload-artifact@v5
      with:
        name: Windows ${{matrix.arch}}
        path: ${{github.workspace}}/artifacts/
  Release:
    needs: [Linux, macOS, Windows]
    runs-on: windows-latest
    steps:
    - name: Cloning
      uses: actions/checkout@v5
    - name: Download Linux arm64 glibc Artifacts
      uses: actions/download-artifact@v6
      with:
        name: Linux arm64 glibc
        path: ${{github.workspace}}/src/dotnet/runtimes/linux-arm64/native
    - name: Download Linux x64 glibc Artifacts
      uses: actions/download-artifact@v6
      with:
        name: Linux x64 glibc
        path: ${{github.workspace}}/src/dotnet/runtimes/linux-x64/native
    - name: Download macOS arm64 Artifacts
      uses: actions/download-artifact@v6
      with:
        name: macOS arm64
        path: ${{github.workspace}}/src/dotnet/runtimes/osx-arm64/native
    - name: Download macOS x64 Artifacts
      uses: actions/download-artifact@v6
      with:
        name: macOS x64
        path: ${{github.workspace}}/src/dotnet/runtimes/osx-x64/native
    - name: Download Windows arm64 Artifacts
      uses: actions/download-artifact@v6
      with:
        name: Windows arm64
        path: ${{github.workspace}}/src/dotnet/runtimes/win-arm64/native
    - name: Download Windows x64 Artifacts
      uses: actions/download-artifact@v6
      with:
        name: Windows x64
        path: ${{github.workspace}}/src/dotnet/runtimes/win-x64/native
    - name: Download Windows x86 Artifacts
      uses: actions/download-artifact@v6
      with:
        name: Windows x86
        path: ${{github.workspace}}/src/dotnet/runtimes/win-x86/native
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
    - name: Build RagePhoto.Core
      run: msbuild "${{github.workspace}}\src\dotnet\RagePhoto.Core.csproj" /t:restore /t:pack /p:Configuration=${{env.BUILD_TYPE}}
    - name: Upload
      uses: actions/upload-artifact@v5
      with:
        name: NuGet Package
        path: ${{github.workspace}}/src/dotnet/bin/${{env.BUILD_TYPE}}/RagePhoto.Core.*.nupkg
